@charset "UTF-8";
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header a {
  position: absolute;
  left: 5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #f6f6f6;
}

ol {
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

/*En-tête*/
.header__img {
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: 0;
  position: relative;
}

.headomf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.headomf h1 {
  text-align: center;
}

.headomf p {
  text-align: center;
}

.headomf .btn {
  margin-bottom: 4rem;
}

.headomf__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px #777777;
          box-shadow: 0px 0px 5px #777777;
  z-index: 1;
}

.size_logo {
  margin: 1rem;
  width: 12rem;
}

input {
  border: none;
  background-color: inherit;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0rem 0rem;
}

.headomf__location {
  background-color: #dddddd;
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.btn {
  margin: auto;
  height: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(180deg, #ff79da, #9356DC);
  border-radius: 1.5rem;
  border: inherit;
  width: auto;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  min-width: 10rem;
  -webkit-box-shadow: 0px 3px 3px #c3c3c3;
          box-shadow: 0px 3px 3px #c3c3c3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 2px 5px 5px #aaaaaa;
          box-shadow: 2px 5px 5px #aaaaaa;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
}

section h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.bg_fonctionnement {
  background-color: white;
}

.flexpage {
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem;
  position: relative;
}

.nav_flex_card {
  width: auto;
  height: auto;
  border-radius: 1.5rem;
  background-color: #f6f6f6;
  margin-top: 1rem;
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 3px 3px #c3c3c3;
          box-shadow: 0px 3px 3px #c3c3c3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.nav_flex_card:hover {
  background-color: #f2eafb;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.nav_flex_card:hover .card_icon {
  color: #9356DC;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.card_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 0.8rem;
  color: white;
  position: relative;
  right: 0.75rem;
}

.card_txt {
  width: 100%;
  margin: 2rem;
  font-weight: bold;
}

.card_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  margin: auto;
  color: #777777;
}

.card {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  height: 100%;
  background-color: white;
  padding-bottom: 1rem;
  position: relative;
  -webkit-box-shadow: 0px 3px 3px #c3c3c3;
          box-shadow: 0px 3px 3px #c3c3c3;
}

.card__img {
  height: 8rem;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.card__end {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: rem;
  height: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__new {
  background-color: #99e2d0;
  width: auto;
  padding: 0.3rem 1rem;
  position: absolute;
  border-radius: 0.2rem;
  top: 1rem;
  right: 1rem;
  text-align: center;
  color: #2c9c81;
}

.heart {
  font-size: 2rem;
  height: 2rem;
  overflow: hidden;
}

.heart .far {
  display: block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.heart .fas {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(180deg, #ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 2rem;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.heart:hover .far {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.heart:hover .fas {
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*Titres*/
.flex_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-right: 10%;
}

.flex_title h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.7rem;
}

.flexpage h2 {
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.flexpage h2::after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background-color: #99e2d0;
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes slide {
  0% {
    left: -400px;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide {
  0% {
    left: -400px;
  }
  100% {
    left: 0%;
  }
}

/*Boîte de recettes*/
.flexpage ul :nth-child(1) {
  position: relative;
  -webkit-animation: fondu-in 0.75s ease;
          animation: fondu-in 0.75s ease;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.flexpage ul :nth-child(2) {
  position: relative;
  -webkit-animation: fondu-in 0.75s ease;
          animation: fondu-in 0.75s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.flexpage ul :nth-child(3) {
  position: relative;
  -webkit-animation: fondu-in 0.75s ease;
          animation: fondu-in 0.75s ease;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fondu-in {
  0% {
    bottom: -5rem;
    opacity: 0;
  }
  50% {
    bottom: 0rem;
    opacity: 0.5;
  }
  100% {
    bottom: 0rem;
    opacity: 1;
  }
}

@keyframes fondu-in {
  0% {
    bottom: -5rem;
    opacity: 0;
  }
  50% {
    bottom: 0rem;
    opacity: 0.5;
  }
  100% {
    bottom: 0rem;
    opacity: 1;
  }
}

.container_recepe {
  background-color: white;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 4.5rem;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  -webkit-box-shadow: 0px 3px 3px #c3c3c3;
          box-shadow: 0px 3px 3px #c3c3c3;
}

.container_recepe_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}

.container_recepe_box_txt {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  margin-left: 1rem;
}

.container_recepe_box_txt * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container_recepe_box_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  background-color: azure;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container_recepe_check_icone {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -5rem;
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  cursor: pointer;
}

.container_recepe_check_icone i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.container_recepe:hover .container_recepe_check_icone {
  margin-right: 0;
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.container_recepe:hover .container_recepe_check_icone i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.container_recepe:hover {
  -webkit-box-shadow: 2px 5px 5px #aaaaaa;
          box-shadow: 2px 5px 5px #aaaaaa;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

footer {
  background-color: #373737;
  color: #f6f6f6;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5rem;
  margin-left: 1rem;
}

footer p {
  margin-left: 1rem;
}
/*# sourceMappingURL=main.css.map */