@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./composants/buttons";
@import "./composants/input";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/footer";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header a { 
    position: absolute;
    left: 5%
}
ul {
list-style: none;
padding: 0;
margin: 0;
padding-inline-start: 0;
margin-block-start: 0;
margin-block-end: 0;
}
a { text-decoration: none;
    color: black; 
}
a:visited { color:black;
}
html {
    height: 100%;
  }

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
}
main {
    background-color: $color_light_grey;
    
}

ol {     
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


/*En-tête*/

header {
    @include flex_center;
    flex-direction: column;
    background-color: $color_light_grey;   
    h1 {
        text-align: center;
    }
    p { text-align: center}
    .btn {
        margin-bottom: 4rem;
    }
    .header__title { 
        @include header_title; 
        .size_logo {
            margin: 1rem;
            width: 12rem;
        }
    }   
    .header__img {
        height: 20rem;
        object-fit: cover;
        width: 100%;
        z-index: 0;
        position: relative;
    }
    .size_logo {
        margin: 1rem;
        width: 12rem;
    }
    .header__location  { 
        background-color: darken($color_light_grey, 10%);
        width: 100%;
        height: 3rem;
           @include flex_center;   
        justify-content: center;
        margin-bottom: 2rem;
        input { 
            @include input_location;
        }
    }
}

.btn { margin: auto;
    @include omfbutton;
    @include box_shadowing;
    transition-duration: 0.3s;      
}
.btn:hover {
    @include bright;
    @include box_shadowing_hover;
    transition-duration: 0.3s;
}
section { 
    display:flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    
    h2 {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}


.container { 
    @include contain;
    @include box_shadowing;
}

/**Page principale**/

.bg_tuto { 
    background-color: white;
    }    
.tuto {
    width: auto;
    border-radius: 1.5rem;
    background-color: $color_light_grey;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;       
    transition-duration: 0.3s;   
    &__circle {
        @include flex_center;
        justify-content: center;
        min-height: 1.5rem;
        min-width: 1.5rem;
        border-radius: 50%;
        background-color: $color-primary;
        font-size: 0.8rem;
        color: white;
        position: relative;
        z-index: 1;
        right:0.75rem
    }
    &__txt {
        width: 100%;
        margin:2rem;
        font-weight: bold;
    }
    &__icon {
        @include flex_center;
        justify-content: center;
        width: 10%;
        margin: auto; 
        color: darken($color_light_grey,50%);
    }    
}
.tuto:hover{ 
    background-color: lighten($color-primary,35%);
    transition-duration: 0.3s;
    .tuto__icon {color:$color-primary;
        transition-duration: 0.3s;}
}
.card { 
    padding-bottom: 1rem;
    position: relative;
    transition-duration: 0.3s;
    &__img {
        height: 8rem;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        width: 100%;  
    }
    &__end { 
        margin: auto;
        margin-top: 1rem;
        height: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;        
    } 
    &__new {
        background-color: $color-third;
        width: auto;
        padding: 0.3rem 1rem ;
        position: absolute;
        border-radius: 0.2rem;
        top:1rem;
        right:1rem;
        text-align: center;
        color: darken($color-third,35%);
    }
}
.card:hover {
    @include bright;
    @include box_shadowing_hover;
    transition-duration: 0.3s;
}

.heart { 
    font-size: 2rem;
    height: 2rem;
    overflow: hidden;
    .far { display: block;
        transition-duration: 0.3s; 
        
        
    }
    .fas { 
        display :block;
        background: linear-gradient(180deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        bottom:2rem;
        opacity: 0;
        transition-duration: 0.3s; 

    }
}   
.heart:hover .far { 
opacity: 0;
transition-duration: 0.3s; 
}
.heart:hover .fas { opacity: 1;
transition-duration: 0.3s; }

/*Page de recettes*/

.menu{
    border-radius: 2.5rem 2.5rem 0 0;
    position: relative;
    margin-top: -2.5rem;
    h2 { 
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
        animation: slide 1s forwards;
        animation-delay: 0.1s; 
    }
    h2::after {
        content: "";
        display: block;
        width: 4rem;
        height: 0.2rem;
        background-color: $color-third;
        margin-top: 5px;
        margin-bottom: 15px;
        position: relative;
        animation: slide 1s forwards;
        animation-delay: 0.5s; 
    }
}

.flex_title { 
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10%;
    h1 { font-family: 'Shrikhand', cursive;;
    font-size: 1.7rem;}
}


@keyframes slide {
    0% { transform: translateX(-20rem);
    }
    100% {transform: translateX(0rem);
    }
}


/*Boîte de recettes*/

.flexpage ul {
    :nth-child(1) {     
        position: relative;
        animation: fondu-in 0.75s ease;
        animation-delay: 0.25s;
        animation-fill-mode: both;}
    :nth-child(2) {    
        position: relative;
        animation: fondu-in 0.75s ease;
        animation-delay: 0.5s;
        animation-fill-mode: both;}
    :nth-child(3) {     
        position: relative;
        animation: fondu-in 0.75s ease;
        animation-delay: .75s;
        animation-fill-mode: both;}
}
@keyframes fondu-in {
    0% { 
        bottom:-5rem;
        opacity:0;
    }
    50% { bottom:0rem;
    opacity: 0.5;}
    100% {
        bottom:0rem;
        opacity:1;}
}
.recepe {
    display: flex;
    overflow: hidden;
    height: 4.5rem;
    @include box_shadowing;
    &__box {
        @include flex_center;
        width: 100%;
        overflow: hidden;
        &__txt {
            width: 100%;   
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
            margin-left: 1rem;    
        }    
        &__price {
            @include flex_center;    
            max-width: 100%;
            background-color: azure;
            margin-left: 1rem;
            margin-right: 1rem;
        }  
    }
    &__check__icone {
        width: 5rem;
        @include flex_center;
        background-color: $color-third;
        color: white;
        justify-content: center;
        margin-right: -5rem;
        transition-duration: 1.0s;
        transition-timing-function: ease-in;
        cursor: pointer;
        i {
            transform: rotate(0deg);
            transition-duration: 1.0s;
            transition-timing-function: ease-in;
          }
    }
}
.recepe__box__txt * { 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;       
}
.recepe:hover .recepe__check__icone {
    margin-right: 0;
    transition-duration: 1.0s;
    transition-timing-function: ease-in;    
    i {
        transform: rotate(360deg);
        transition-duration: 1.0s;
        transition-timing-function: ease-in;
    } 
}
.recepe:hover { 
    @include box_shadowing_hover;
    transition-duration: 0.3s;    
}

/**Footer**/

footer {   
    @include foot_general;
    h2{ 
        @include foot_marge;
        @include foot_title;       
    }
    p { @include foot_marge;
    }
}
/*Loader*/

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    color: $color_light_grey;
    text-align: center;
    animation: load_box 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
    z-index: 999;
    
    p { margin-bottom: 2rem;
        strong {
            font-family: 'Shrikhand', cursive;
        font-size: 1.6rem;
        background: linear-gradient(100deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }       
    }
    p::after {content: "";
        display: block;
        width: 6rem;
        height: 0.1rem;
        background-color: $color-third;
        margin-top: 5px;
        margin-bottom: 15px;
        position: relative;
        left:1.2rem;
        animation: slide_loader 2.9s forwards;
        animation-delay: 0.1s; }
}

@keyframes slide_loader {
    0% { transform: translatex(-500%);
        opacity: 0;}
    40% {transform: translatex(0rem);
        opacity: 1;}
    80% {transform: translatex(0rem);
        opacity: 1;}
    100% {transform: translatex(500%);
        opacity: 0;}
    
}
@keyframes load_box {100%
    {
       opacity: 0;
       z-index: -1;
    }}


.loader__beat { margin-top: 2rem;}

.loader__beat :nth-child(n) { 
        font-size: 1rem;
        background: linear-gradient(180deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation:beating 1.5s linear infinite;
        position: relative;
 }
 .loader__beat :nth-child(1) { animation-delay: 0.1s;}
 .loader__beat :nth-child(2) { animation-delay: 0.2s;}
 .loader__beat :nth-child(3) { animation-delay: 0.3s;}
 .loader__beat :nth-child(4) { animation-delay: 0.4s;}
 .loader__beat :nth-child(5) { animation-delay: 0.5s;}
 .loader__beat :nth-child(6) { animation-delay: 0.6s;}
 .loader__beat :nth-child(7) { animation-delay: 0.7s;}
 .loader__beat :nth-child(8) { animation-delay: 0.8s;}
 .loader__beat :nth-child(9) { animation-delay: 0.9s;}
 .loader__beat :nth-child(10) { animation-delay: 1.0s;}

 @keyframes beating {
    
     0% {
        background: linear-gradient(180deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; opacity:1 ;
               
     }
     75%  {
        background: linear-gradient(180deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; opacity: 0;
     }
     100% { background: linear-gradient(180deg, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; opacity: 1;  
        }    
}
.loader_box {     width: 120px;
    height: 120px;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;;
    i { position: absolute;
    top:35%;
    font-size: 2rem;
    }
}
.loader__round { 
     width: 120px;
     height: 120px;
     border-radius: 50%;
     border-top: 3px solid black;
     animation:loading 1.5s ease infinite;      
}
@keyframes loading {
    0% { transform: rotate(0deg);
    border-top-color: $color-primary;}
    50% {border-top-color: $color-secondary ; }
    100% { transform: rotate(360deg);
        border-top-color: $color-primary;
     }  
}



