.menu-container {
    @include tablette-responsive {
    width: 45%;
    margin: 1rem;
    @include desktop-responsive {
    width : 30%      
    }

}
}
.container--recepe {
    display: flex;
    overflow: hidden;
    height: 4.5rem;
    @include box_shadowing;
    @include tablette-responsive {
        width: 100%;
                }
    
    .recepe__box {
        @include flex_center;
        width: 100%;
        overflow: hidden;
        &--txt {
            width: 100%;   
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
            margin-left: 1rem;    
        }    
        &--price {
            display: flex;
            align-items: flex-end;
            height: 100%;   
            max-width: 100%;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            font-size: 1.1rem;
            font-weight: bold;
        }  
    }
    .recepe__check {
        width: 5rem;
        @include flex_center;
        background-color: $color-third;
        color: white;
        justify-content: center;
        margin-right: -5rem;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        cursor: pointer;
        i {              
            transition-duration: 0.5s;
            transition-timing-function: ease-in;
        }
    }
}


.recepe__box--txt * { 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;       
}
.container--recepe:hover .recepe__check {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;  
    i {
        transform: rotate(360deg);
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        
    } 
}

@keyframes check_rotate {
    0% { 
        transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);
    }  
}




.container--recepe:hover { 
    @include box_shadowing_hover;
    transition-duration: 0.3s;    
}


