.bg_tuto { 
    background-color: white;
    }    
.container--tuto {
    width: auto;
    border-radius: 1.5rem;
    background-color: $color_light_grey;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;       
    transition-duration: 0.3s;   
    .tuto__circle {
        @include flex_center;
        justify-content: center;
        min-height: 1.5rem;
        min-width: 1.5rem;
        border-radius: 50%;
        background-color: $color-primary;
        font-size: 0.8rem;
        color: white;
        position: relative;
        z-index: 1;
        right:0.75rem
    }
    .tuto__txt {
        width: 100%;
        margin:2rem;
        font-weight: bold;
    }
    .tuto__icon {
        @include flex_center;
        justify-content: center;
        width: 10%;
        margin: auto; 
        color: darken($color_light_grey,50%);
    }    
}
.container--tuto:hover{ 
    background-color: lighten($color-primary,35%);
    transition-duration: 0.3s;
    .tuto__icon {color:$color-primary;
        transition-duration: 0.3s;}
}