@mixin heading-shadow ( $colour: $color-primary){
    text-shadow: .55rem .55rem $colour;
    }

@mixin flex_center {
    display:flex;
    align-items: center;
}    

@mixin box_shadowing {
    box-shadow: 0px 3px 3px darken($color_grey_medium, 10%);
}




    