@mixin heading-shadow ( $colour: $color-primary){
    text-shadow: .55rem .55rem $colour;
    }

@mixin flex_center {
    display:flex;
    align-items: center;
}    

@mixin box_shadowing {
    box-shadow: 0px 3px 3px darken($color_light_grey, 20%);
}

@mixin box_shadowing_hover {
    box-shadow: 2px 5px 5px darken($color_light_grey, 30%);
}

@mixin bright {    
    filter: brightness(1.1);          
    } 


@mixin tablette-responsive {
    @media screen and (min-width: map-get($breakpoints, tablette)){
    @content;
    }
}
@mixin desktop-responsive {
    @media screen and (min-width: map-get($breakpoints, desktop)){
    @content;
    }
}


    