footer {   
    background-color: darken($color_light_grey, 75%);
    color: $color_light_grey;
    padding-top:1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    h2{ 
        margin-left:1rem;
        font-family: 'Shrikhand', cursive;
        font-size: 1.5rem;         
    }
    a { 
        margin-left:1rem;
        color: $color_light_grey; 
    }
    a:visited{ 
        color: $color_light_grey; 
    }
    .fas { 
        width: 1rem;
    }
        
}





